html{
    background-color:#AFB42B ;
    font-size: 62.5%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.gorilla{
    height: 15rem;
    font-size: 5rem;
    
}
.tiger{
    height: 15rem;
    font-size: 5rem;
}

.grizzly{
    height: 15rem;
    font-size: 5rem;
}
.Grizzly-img{
    height: 15rem;

}
.Tiger-img{
    height: 15rem;
}
.ZoosParagraph{
    height: 15rem;
    font-size: 3rem;
}