html{
    background-color:#AFB42B ;
    font-size: 62.5%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.Title{
    display: flex;   
    justify-content: center;
    height: 10rem;
    font-size: 5rem;
}

.Grizzly-img{
    height: 25rem;
    width: 25rem;
}
.Tiger-img{
    height: 25rem;
    width: 25rem;
}

.Gorilla-img{
    height: 25rem;
    width: 25rem;
}
.ZoosParagraph{
    height: 30rem;
    width: 125rem;
    font-size: 3rem;
    
}
.more-text{
    height: 75rem;
    font-size:4rem;
    width: 60rem;
   
}
.more-animals{
   height: 30rem;
   font-size: 3rem;
   display: flex;
   justify-content: space-around;;
   flex-direction: row;
}

.images{
    display: flex;
    justify-content: space-around;
    height: 35rem;
}
.SomeAnimals{
   font-size:3rem;
   height: 27rem;
   width: 60rem;
   display: flex;
   justify-content: space-between;
   flex-direction: column;
   align-items: center;
   text-align: center;
}
.MoreAnimalImgs{
    width: 62rem;
    display: flex;
    justify-content: space-between;
}
.fox{
    width: 20rem;
    height: 20rem;
}
.gazelle{
    width: 20rem; 
    height: 20rem;
}
.hippo{ 
    width: 20rem;
    height: 20rem;
}

.menu-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.BronxZooImg{
    padding: 2rem;
    height: 30rem;
}
.BronxZooText{
    font-size: 2rem;
}