html{
    background-color:#AFB42B ;
    font-size: 62.5%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.Title{
    display: flex;   
    justify-content: center;
    height: 10rem;
    font-size: 5rem;
}

.Grizzly-img{
    height: 25rem;
    width: 25rem;
}
.Tiger-img{
    height: 25rem;
    width: 25rem;
}

.Gorilla-img{
    height: 25rem;
    width: 25rem;
}
.ZoosParagraph{
    height: 45rem;
    font-size: 3rem;
    
}
.more-text{
    height: 75rem;
    font-size:3rem;
    width: 161rem;
   
}
.more-animals{
   height: 30rem;
   font-size: 3rem;
   display: flex;
   justify-content: space-between;
}
.menu{
    display: flex;
    justify-content: space-between;
}
.images{
    display: flex;
    justify-content: space-around;
    height: 30rem;
}
.SomeAnimals{
   font-size:3rem;
   height: 20rem;
   display: flex;
   justify-content: center;

}